In [1]:
import db_op

In [24]:
### Returns all pd_id for certain threshold
table_name = "smart_data_deid"
col_name1 = "element_name"
col_value1 = "FINDINGS - TESTS - EYES - TONOMETRY - IOP - INTRAOCULAR PRESSURE - LEFT"
col_name2 = "smrtdta_elem_value"
comparator = ">"
col_value2 = "13"

cmd = """
SELECT DISTINCT pt_id
FROM {}
WHERE {} = '{}' AND 
{} {} {}
ORDER BY pt_id
""".format(table_name, col_name1, col_value1, col_name2, comparator, col_value2)
x = db_op.test_execute(cmd)
x = [v[0] for v in x]
print("pt_id: ")
print(x)

pt_id:
[20676, 36440, 50765, 59153, 64153, 64656, 66172]

In [2]:
### Select values from tables with given pt_id
pt_id = [20676, 36440, 50765, 59153, 64153, 64656, 66172]
pt_id = "'" + "', '".join([str(v) for v in pt_id]) + "'"
out_cols = "*"
table_name = "medication_deid"

cmd = """
SELECT {}
FROM {}
WHERE pt_id IN({})
ORDER BY pt_id
""".format(out_cols, table_name, pt_id)
x = db_op.test_execute(cmd)
# x

In [36]:
## Select medication [generic name, therapeutic class, date] for pt_id
# pt_id = [20676, 36440, 50765, 59153, 64153, 64656, 66172]
pt_id = 20676
out = {}
out[str(pt_id)] = {}
out_cols = "generic_name, therapeutic_class, order_placed_dt"
table_name = "medication_deid"
cmd = """
SELECT {}
FROM {}
WHERE pt_id IN({})
ORDER BY order_placed_dt
""".format(out_cols, table_name, pt_id)
res = db_op.test_execute(cmd)
out_cols = ('generic_name', 'therapeutic_class', 'date')
out[str(pt_id)]['medication'] = [dict(zip(out_cols, val)) for val in res]
out

{'20676': {'medication': [{'generic_name': 'Spacer/Aerosol-Holding Chambers - Device',
    'therapeutic_class': 'Miscellaneous Products',
    'date': '2010-12-03 16:19:00'},
   {'generic_name': 'Fluticasone Propionate Nasal Susp 50 MCG/ACT',
    'therapeutic_class': 'Respiratory Agents',
    'date': '2013-12-08 09:02:00'},
   {'generic_name': 'Apremilast Tab 30 MG',
    'therapeutic_class': 'Analgesics & Anesthetics',
    'date': '2015-03-19 09:31:00'},
   {'generic_name': 'apremilast 30 mg tablet',
    'therapeutic_class': 'ANTIARTHRITICS',
    'date': '2015-03-19 09:31:00'},
   {'generic_name': 'Fluticasone Propionate Nasal Susp 50 MCG/ACT',
    'therapeutic_class': 'Respiratory Agents',
    'date': '2015-10-22 12:01:00'},
   {'generic_name': 'Hydroxychloroquine Sulfate Tab 200 MG',
    'therapeutic_class': 'Anti-Infective Agents',
    'date': '2016-02-18 16:50:00'},
   {'generic_name': 'fluticasone 50 mcg/actuation nasal spray,suspension',
    'therapeutic_class': 'EENT PREPS',
    'date': '2016-09-17 13:45:00'},
   {'generic_name': 'hydroxychloroquine 200 mg tablet',
    'therapeutic_class': 'ANTIINFECTIVES/MISCELLANEOUS',
    'date': '2017-03-04 09:30:00'},
   {'generic_name': 'Hydroxychloroquine Sulfate Tab 200 MG',
    'therapeutic_class': 'Anti-Infective Agents',
    'date': '2017-04-14 13:28:00'},
   {'generic_name': 'hydroxychloroquine 200 mg tablet',
    'therapeutic_class': 'ANTIINFECTIVES/MISCELLANEOUS',
    'date': '2018-06-20 10:29:00'}]}}

In [40]:
cols = "element_name, smrtdta_elem_value, value_dt"
table_name = "smart_data_deid"
cmd = """ SELECT {} FROM {} WHERE pt_id IN({}) ORDER BY value_dt 
""".format(cols, table_name, pt_id)
res = db_op.test_execute(cmd)

In [45]:
[val for val in res if val[0].find('PRESSURE') != -1]

[('FINDINGS - TESTS - EYES - TONOMETRY - IOP - INTRAOCULAR PRESSURE - LEFT',
  '14',
  '2014-08-09 00:00:00'),
 ('FINDINGS - TESTS - EYES - TONOMETRY - IOP - INTRAOCULAR PRESSURE - RIGHT',
  '14',
  '2014-08-09 00:00:00'),
 ('FINDINGS - TESTS - EYES - TONOMETRY - IOP - INTRAOCULAR PRESSURE - LEFT',
  '14',
  '2017-05-03 00:00:00'),
 ('FINDINGS - TESTS - EYES - TONOMETRY - IOP - INTRAOCULAR PRESSURE - RIGHT',
  '14',
  '2017-05-03 00:00:00'),
 ('FINDINGS - TESTS - EYES - TONOMETRY - IOP - INTRAOCULAR PRESSURE - RIGHT',
  '15',
  '2018-08-09 00:00:00'),
 ('FINDINGS - TESTS - EYES - TONOMETRY - IOP - INTRAOCULAR PRESSURE - LEFT',
  '14',
  '2018-08-09 00:00:00')]

In [50]:
## Select exam_id for pt_id
# pt_id = [20676, 36440, 50765, 59153, 64153, 64656, 66172]
pt_id = 66172
out = {}
out_cols = "exam_id, exam_date"
table_name = "exam_deid"
cmd = """
SELECT {}
FROM {}
WHERE pt_id IN({})
ORDER BY exam_date
""".format(out_cols, table_name, pt_id)
res = db_op.test_execute(cmd)
out_cols = ('exam_id', 'exam_date')
bla = [dict(zip(out_cols, val)) for val in res]

[{'exam_id': 70461, 'exam_date': '2020-04-10 00:00:00'},
 {'exam_id': 70462, 'exam_date': '2020-04-10 00:00:00'}]

In [52]:
for v in bla:
    v['images'] = {}
    
bla

[{'exam_id': 70461, 'exam_date': '2020-04-10 00:00:00', 'images': {}},
 {'exam_id': 70462, 'exam_date': '2020-04-10 00:00:00', 'images': {}}]

In [70]:
cmd = """SELECT image_procedure_id, image_procedure FROM image_procedure"""
res = db_op.test_execute(cmd)
image_procedures = dict(res)

image_cols = ('image_id', 'image_num', 'image_type', 'image_laterality', 'image_procedure_id')
exam_id = 70461
cmd = """
SELECT image_id, image_num, image_type, image_laterality, image_procedure_id
FROM image_deid
WHERE exam_id IN({})
ORDER BY image_num
""".format(exam_id)
res = db_op.test_execute(cmd)
bla = [dict(zip(image_cols, list(val[:-1]) + [image_procedures[val[-1]]] )) for val in res]

In [71]:
bla

[{'image_id': 1190360,
  'image_num': 1,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'},
 {'image_id': 1190361,
  'image_num': 2,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'},
 {'image_id': 1190362,
  'image_num': 3,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'},
 {'image_id': 1190363,
  'image_num': 4,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'},
 {'image_id': 1190364,
  'image_num': 5,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'},
 {'image_id': 1190365,
  'image_num': 6,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'},
 {'image_id': 1190366,
  'image_num': 7,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'},
 {'image_id': 1190367,
  'image_num': 8,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'},
 {'image_id': 1190368,
  'image_num': 9,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'},
 {'image_id': 1190369,
  'image_num': 10,
  'image_type': 'OCT',
  'image_laterality': 'OD',
  'image_procedure_id': 'Ir_oct'}]

In [64]:
[1, 2, 3][:-1] + [3]

[1, 2, 3]